{% extends 'base.html' %}
{% block content %}
    {% load i18n %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>


                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/static/images/verve.png"> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">{%  trans "Projects" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/contact">{%  trans "Team" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/projects-page">{%  trans "Pricing" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{%  trans "Contact" %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#"></a>
                    </li>
                   </ul><div>

            </div>

            <!-- /.navbar-collapse -->
        </div>

        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Start Home Page Slider -->
    <section id="page-top">
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">

            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="/static/images/Untitled-2.jpg" alt="slider">
                    <div class="slider-content">
                        <div class="col-md-12 col-xs-12 text-center">
                            <p>
                                We believe <strong>great design</strong> can make a <strong>good idea</strong> even better.
                            </p>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->

            </div>
            <!-- Carousel inner end-->


        </div>
        <!-- /carousel -->
    </section>
    <!-- End Home Page Slider -->

      <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <p>
                        <span>Unique and innovative projects which enhance the web experience </span><br>
                        <span><strong>through design, creativity and technology. </strong></span>
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Start Portfolio Section -->
        <section id="portfolio" class="portfolio-section-1">
            <div id="main-slide1" class="carousel slide" data-ride="carousel">
            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-md-6 col-xs-12">
                            <a href="javascript:void(0)" onclick="openProjects(event,'portfolio-list')" id="defaultOpen" class="tablinks"><img  src="/static/images/web.png"></a>

                    </div>
                    <div class="col-md-6 col-xs-12">
                            <a href="javascript:void(0)" onclick="openProjects(event,'portfolio-list-1')" class="tablinks"><img  src="/static/images/mob.png"></a>
                    </div>

                </div>
                <!--/ Carousel item end -->

            </div>
            <!-- Carousel inner end-->


        </div>
<!-- Start Home Page Slider -->
        <!-- Carousel -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                <li data-target="#main-slide" data-slide-to="1"></li>
                <li data-target="#main-slide" data-slide-to="2"></li>
            </ol>
            <!--/ Indicators end-->

            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#vpn" data-toggle="modal" class="link1"><img class="img-responsive" src="/static/images/portfolio/project1.png" alt="slider"></a>
                </div>
                <!--/ Carousel item end -->

               <!-- <div class="item">
                    <img class="img-responsive" src="images/header-back.png" alt="slider">

                    <div class="slider-content">
                        <div class="col-md-12 text-center">
                            <h1 class="animated1">
                    		  <span>Welcome to <strong>Fame</strong></span>
                    	    </h1>
                            <p class="animated2">Generate a flood of new business with the<br> power of a digital media platform</p>
                            <a href="#feature" class="page-scroll btn btn-primary animated3">Read More</a>
                        </div>
                    </div>
                </div>
                <!--/ Carousel item end -->


                <!--/ Carousel item end -->
            </div>
            <!-- Carousel inner end-->

            <!-- Controls -->
            <a class="left carousel-control" href="#main-slide" data-slide="prev">
                <span><i class="fa fa-angle-left"></i></span>
            </a>
            <a class="right carousel-control" href="#main-slide" data-slide="next">
                <span><i class="fa fa-angle-right"></i></span>
            </a>
        </div>
        <!-- /carousel -->

    <!-- End Home Page Slider -->
        </section>
        <!-- End Portfolio Section -->

        <!-- End Portfolio Modal Section -->
    <!-- Start Portfolio Modal Section -->
        <div class="section-modal modal fade" id="vpn" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                
                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3><a href="https://mongol.world">VPN Mongolia</a></h3>
                            <p>{%  trans "This site for free VPN based on OpenVPN." %}<br><br>
                            <a href="https://mongol.world">www.mongol.world</a></p>

                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-4 col-xs-4">
                            <img src="/static/images/portfolio/vpn-1.png" class="img-responsive" alt="..">
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <img src="/static/images/portfolio/vpn-2.png" class="img-responsive" alt="..">
                        </div>
                    <div class="col-md-4 col-xs-4">
                           <img src="/static/images/portfolio/vpn-3.png" class="img-responsive" alt="..">
                        </div>
                        
                    </div><!-- /.row -->
                </div>                
            </div>
        </div>
        <!-- End Portfolio Modal Section -->


    <section id="contact">
         <div id="main-slide3" class="carousel slide" data-ride="carousel">

            <!-- Carousel inner -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-md-12">
                   <a href="/projects-page"><img src="/static/images/Contact_us.png"></a></div>
                </div>
                <!--/ Carousel item end -->

            </div>
            <!-- Carousel inner end-->


        </div>
        </section>
    <!-- End Team Member Section -->
{%  endblock %}
